position = joinstates.LatestMessage.Position;
x0 = position(3:6)
ppos = kin(links, x0);
Val = ppos(:,5);
PV = [ 0; 0.12; 0.24; 0.81]
[t, theta] = ode45(@kinematyka_odwrotna, 0:0.01:1, x0);

for i = 1:length(t)
ster1 = rospublisher('/joint1_position/command');
ster2 = rospublisher('/joint2_position/command');
ster3 = rospublisher('/joint3_position/command');
ster4 = rospublisher('/joint4_position/command');
wiad1 = rosmessage( ster1 )
wiad1.Data = theta(i,1)
wiad2 = rosmessage( ster2 )
wiad2.Data = theta(i,2) 
wiad3 = rosmessage( ster3 )
wiad3.Data = theta(i,3);
wiad4 = rosmessage( ster4 )
wiad4.Data = theta(i,4)
    send( ster1, wiad1 );
    send( ster2, wiad2 );
    send( ster3, wiad3 );
    send( ster4, wiad4 );
    p = kin(links, [wiad1.Data,wiad2.Data,wiad3.Data,wiad4.Data])
end
